# ─── Base de datos ────────────────────────────────────────────
backend/data/db.sql


# ─── Dependencias ─────────────────────────────────────────────
vendor/
node_modules/

# ─── Logs y temporales ────────────────────────────────────────
*.log
*.cache
.DS_Store
Thumbs.db
